---
platform: linux

image_resource:
  type: docker-image
  source:
    repository: cfpersi/smith-cli
    tag: latest

inputs:
- name: smith-env
- name: persi-ci

outputs:
- name: cats-config

params:
  VAR_RESOLVER_SCRIPT: ~
  CF_USERNAME: admin
  PLAN_NAME: ~
  SERVICE_NAME: ~

run:
  path: persi-ci/scripts/ci/generate_pats_config.sh
